* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
}

.header__content {
    display: flex;
    margin-top: 14px;
    justify-content: center;
    align-items: center;
}

.nav__list {
    display: flex;
}

.logo {
    display: flex;
    padding-right: 141px;
}

.logo__img {
    padding-right: 14px;
}

.nav__item {
    padding-right: 40px;
    text-transform: uppercase;
}

.logo__title {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    padding-bottom: 3px;
    color: #343D33;
    text-transform: uppercase;
}

.nav__item--border {
    border: 2px solid #475F45;
    padding: 15px 30px;
    position: relative;
    top: -15px;
}

.nav__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.hero__content {
    display: flex;
    justify-content: center;
    padding-top: 76px;
}

.hero__img {
    border-radius: 500px 500px 0px 0px;
    width: 458px;
    height: 640px;
}

.hero__info {
    padding-top: 170px;
    padding-right: 184px;
}

.btn {
    border: 2px solid #475F45;
    padding: 20px 40px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-right: 12px;
    margin-top: 32px;
}

.btn--active {
    background-color: #475F45;
    color: white;
}

.hero__desc {
    font-weight: 300;
    font-size: 25px;
    color: #414840;
}

.hero__img {
    border: 4px solid #343D33;
    border-radius: 500px 500px 0px 0px;
    padding: 10px 10px;
}

.about__top-pic {
    width: 534px;
    height: 354px;
}

.about__bottom-img {
    width: 1040px;
    height: 409px;
}

.about__top-img {
    padding-right: 89px;
}

.about__top {
    display: flex;
    padding-top: 96px;
}

.about {
    background-color: #343D33;
    width: 1400px;
    height: 1035px;
}

.btn--white {
    border: 2px solid white;
    color: white;
}

.about__desc {
    color: white;
}

.about__info {
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    width: 401px;
    height: 120px;
}

.about__bottom {
    padding-top: 80px;
}

.news__img-wrap--big {
    width: 520px;
    height: 333px;
    overflow: hidden;
}

.news__img--big {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news__img-wrap {
    width: 236px;
    height: 151px;
    overflow: hidden;
}

.news__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news__content {
    display: flex;
}

.news {
    padding-top: 96px;
}

.news__subtitle {
    color: #343D33;
}

.news__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.news__item-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 110%;
    padding-bottom: 12px;
    padding-top: 20px;
    color: #475F45;
}

.news__item {
    display: flex;
}

.news__item-desc {
    padding-left: 20px;
}

.news__list {
    padding-left: 50px;
}

.news__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #414840;
    margin-bottom: 12px;
}

.news__item-date {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #343D33;
}

.news__subtitle {
    padding-bottom: 16px;
}

.news__img-wrap--big {
    padding-top: 48px;
}

.news__item-desc {
    flex: 1;
}

.news__item-text {
    width: 354px;
    height: 48px;;
}

@media screen and (max-width: 768px) {
    .header .nav {
        display: none;
    }

    .logo__title {
        font-size: ;
    }

    .hero__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}